
<!-- Form-->
<div class="form-body">
  <div class="form" (submit) = "loginUser($event)">
    <div class="form-toggle"></div>
    <div class="form-panel one">
      <div class="form-header">
        <h1>Account Login</h1>
      </div>
      <div class="form-content">
        <form>
          <div class="form-group">
            <label for="username">Username</label>
            <input id="username" type="text" name="username" required="required"/>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input id="password" type="password" name="password" required="required"/>
          </div>
          <div class="form-group">
            <label class="form-remember">
              <input type="checkbox"/>Remember Me
            </label><a class="form-recovery" href="#">Forgot Password?</a>
          </div>
          <div class="form-group">
            <button *ngIf="!loading" mat-raised-button color="primary" type="submit" #loginButton>
              Log In
            </button>
            <button *ngIf="loading" mat-raised-button color="primary" type="submit" #loginButton display="flex">
              <mat-spinner disabled="disabled" [diameter]='20' [color]="'accent'" #loginLoader style="margin: 0 auto;"></mat-spinner>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
