/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
// regular style toast
@import '~ngx-toastr/toastr';

// theming
//@import '~@angular/material/prebuilt-themes/deeppurple-amber';
//@import '~@angular/material/prebuilt-themes/pink-bluegrey';
//@import '~@angular/material/prebuilt-themes/indigo-pink';
@import '~@angular/material/prebuilt-themes/purple-green';

body{
  margin:0;
  font-family: 'Nunito', 'sans serif';
  font-size: 18px;
}

html, body { height: 100%; }

//fonts
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
